{{ ansible_managed | comment }}
# see http://www.phoronix-test-suite.com/documentation/phoronix-test-suite.html for more details

{% for key, value in cfg.items() %}
{{ key|upper }}={{ value }}
{% endfor %}
