server {
    listen 80;
    server_name {{ domain_name }};

    location / {
        return 301 https://$host$request_uri;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}
server {
    listen 443 ssl;
    server_name {{ domain_name }};

    ssl_certificate /etc/letsencrypt/{{ domain_name }}/server.crt;
    ssl_certificate_key /etc/letsencrypt/{{ domain_name }}/server.key;

    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
    
    location / {
        proxy_pass http://{{ domain_name }};
    }
}
