version: "3"

networks:
  ethereum:
    external: true

services:
  beacon-node:
    image: {{ image }}
    container_name: lighthouse-beacon
    command:
      - "lighthouse"
      - "beacon_node"
    env_file:
      - {{ beacon_env_file }}
    ports:
      - {{ p2p_tcp_port }}:9000/tcp
      - {{ p2p_udp_port }}:9000/udp
      - {{ beacon_api_port }}:5052/tcp
      - {{ beacon_metrics_port }}:5054/tcp
    volumes:
      - "{{ host_data_dir }}:{{ data_dir }}"
    networks:
      - ethereum
    restart: {{ restart_policy }}

  validator:
    image: {{ image }}
    container_name: lighthouse-validator
    command:
      - "lighthouse"
      - "validator_client"
    env_file:
      - {{ validator_env_file }}
    ports:
      - {{ validator_api_port }}:5062/tcp
      - {{ validator_metrics_port }}:5064/tcp
    volumes:
      - "{{ host_data_dir }}:{{ data_dir }}"
      - "{{ host_wallet_dir }}:/wallets"
      - "{{ host_keys_dir }}:/keys"
    networks:
      - ethereum
    restart: {{ restart_policy }}
