version: "3"

networks:
  ethereum:
    external: true
  monitoring:
    external: true

services:
  geth:
    image: {{ image }}
    container_name: geth
    command:
      - "geth"
      - "--{{ chain }}"
      - "--log.debug"
      - "--config={{ config_dir }}/config.toml"
      - "--http"
      - "--metrics"
      - "--metrics.addr={{ metrics_addr }}"
      - "--nat=extip:{{ external_addr }}"
    environment:
      GETH_CONFIG_DIR: "{{ config_dir }}"
    env_file:
      - "{{ _config_env_file }}"
    ports:
      - {{ p2p_port }}:30303/tcp
      - {{ rpc_port }}:8545
      - {{ metrics_port }}:6060
    volumes:
      - "{{ host_data_dir }}:{{ data_dir }}"
{% if host_config is defined and host_config|length > 0 %}
      - "{{ host_config }}:{{ config_dir }}/config.toml"
{% endif %}
    networks:
      - ethereum
      - monitoring
    restart: {{ restart_policy }}

  geth-exporter:
    image: {{ exporter_image }}
    container_name: geth-exporter
    environment:
      GETH: "{{ exporter_rpc_addr }}"
    ports:
      - {{ exporter_port }}:9090
    networks:
      - ethereum
      - monitoring
    restart: {{ restart_policy }}
